<footer class="footer">
  <div class="footer-brand">
    <img [src]="assetsBaseUrl + '/assest/logo-puregrace-04.png'" alt="Logo" class="footer-logo" />
    <p class="footer-text">Transformando doações em impacto social com transparência e confiança.</p>
  </div>

  <div class="footer-links">
    <a [routerLink]="['/home/termos']" [queryParams]="{ item: 'termos' }">Termos</a>
    <a [routerLink]="['/home/termos']" [queryParams]="{ item: 'privacidade' }">Aviso de Privacidade</a>
    <a [routerLink]="['/home/termos']" [queryParams]="{ item: 'legal' }">Informações de caráter legal</a>
    <a [routerLink]="['/home/termos']" [queryParams]="{ item: 'cookies' }">Política de cookies</a>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Pure Grace. Todos os direitos reservados.</p>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" rel="noopener"><mat-icon>facebook</mat-icon></a>
      <a href="https://x.com" target="_blank" rel="noopener"><mat-icon>close</mat-icon></a>
      <a href="https://youtube.com" target="_blank" rel="noopener"><mat-icon>youtube_activity</mat-icon></a>
      <a href="https://linkedin.com" target="_blank" rel="noopener"><mat-icon>linkedin</mat-icon></a>
    </div>
  </div>
</footer>
